body {
    background-image: url("#{resource['images:background.jpg']}");
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
    color: #336; /* Цвет текста */
}

iframe {
    overflow: hidden;
}

#header {
    width: 100%;
    height: 50px;
    border: 0;
    border-spacing: 0;
}

#main-table {
    position: center;
    text-align: center;
    border: 0;
    border-spacing: 0;
    /*width: 500px;*/
    margin: 0 auto;
}

#form-table {
    border: 1px;
    border-spacing: 0;
}

.pointTable {
    border: 1px;
    border-spacing: 0;
    position: center;
    margin: 0 auto;
}

tr:first-child {
    padding-left: 2%;
    width: 20px;
}

td.left_align {
    text-align: left;
}

#form\:xWarning, #form\:yWarning, #form\:rWarning {
    font-style: italic;
    text-align: left;
    color: #c80000;
}

#xValue {
    display: inline;
}