body {
    background-image: url("../images/background.jpg");
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
    color: #336; /* Цвет текста */
}

table {
    text-align: center;
    border: 0;
    border-spacing: 0;
    width: 100%;
}

tr:first-child {
    padding-left: 2%;
    width: 20px;
}

td.left_align {
    text-align: left;
}

td.warning {
    text-align: left;
    color: #c80000;
}

.marquee {
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*line-height: 50px;*/
    /*text-align: center;*/
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}

