body {
    background-image: url("#{resource['images:background.jpg']}");
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
    color: #336; /* Цвет текста */
    text-align: center;
    margin: 0 auto;
    position: center;
}

iframe {
    overflow: hidden;
    width: 100%;
    height: 50px;
    border: 0;
}


table {
    margin: 0 auto;
    align-self: center;
    border: 0;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}